p {
	color: aqua;
	text-align: center;
	}
	

	.font_1 {
		background-color: black;
		color: yellow;
		font-size: large;
	}
	.font_2 {
		background-color: darkblue;
		color: white;
		font-size: medium
	}

	body {
		opacity: 1;
		transition: 1s opacity;
	}

	body.fade-out {
		opacity: 0;
		transition: none;
	}