* {
    margin: 0%;
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    background-color: rgb(83, 105, 105);
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

.navbar a {
  float: left;
  display: block;
  padding: 15px 16px;
  color: cornsilk;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

.navbar a:hover {
  background-color: gray;
  font-weight: 900;
  text-decoration: underline;
  transition: 1s;    
}

#backgroundvid {
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -10;
}

.abstract-text{
  text-align: center;
  background: rgba(148, 197, 170, 0.2);
  padding: 20px;
  width: 100%;
  overflow: hidden;
}
.head-text {
  margin: 10px;
  font-weight: 900;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
  text-shadow: 3px 4px 5px rgb(35, 66, 66);
  overflow: hidden;
}

.sub-head-text {
  font-size: 30px;
  text-shadow: 3px 5px 5px white;
  overflow: hidden;
}

p {
  font-size: 20px;
  font-family: 'Lucida Sans';
  text-shadow: 2px 3px 10px gray;
  margin: 100px;
}

.row {
   width: 100%;
   display: flex;
   color: antiquewhite;
   text-shadow: 2px 4px 6px black;
   right: 0;
}

h1 {
   margin-top: 10%;
   margin-bottom: 10%;
}

#slideshowBackground {
 background-color: #555;
}

#slideshowContainer {
width: 30vw;
height: auto;
padding-top: 4%;
position: relative;
margin: auto;

}

.slideshowImages {
vertical-align: middle;
height: auto;
box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
width: auto;
}

.Previous, .Next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 2vw;
margin-top: -0vw;
color: darkgray;
font-weight: bold;
font-size: 1.5vw;
border-radius: 0 3px 3px 0;
user-select: none;
transition: 0.6s ease;
}

.Next {
right: 0;
border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
background-color: rgba(0,0,0,0.8);
color: white;
}

.text {
color: white;
padding: 1vw;
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
font-family: Perpetua, Rockwell Extra Bold;
letter-spacing: .1vw; 
font-size: 1.5vw;
background-color: rgba(0,0,0,0.75);
font-weight: bold;
border-radius: 7px 7px 7px 7px;
}

.SlideNumber {
color: white;
position: absolute;
top: 0;
font-family: Perpetua, Rockwell Extra Bold;
letter-spacing: .1vw; 
font-size: 1.5vw;
font-weight: bold;
display: none;
}

.dot {
cursor: pointer;
height: 1vw;
width: 1vw;
margin: .25vw;
background-color: white;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
position: relative;
z-index: 1;
}

.active, .dot:hover {
background-color: black;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;  
}
 
.open-button {
 background-color: #555;      /* btton used to open the contact form fixed at the bottom of the page*/
 color: white;
 padding: 16px 20px;
 border: none;
 cursor: pointer;
 opacity: 0.8;
 position: fixed;
 bottom: 23px;
 left: 41.5%;
 width: 280px;
}

.form-popup {               /* the popup form, hidden by default */
 display: none;
 position: fixed;
 bottom: 0;
 right: 15px;
 border: 3px solid #f1f1f1;
 z-index: 9;
}


.form-container {              /* add styles to the form container */
 max-width: 300px;
 padding: 10px;
 background-color: rgb(70, 158, 161);
}


.form-container input[type=text] {                  /* full-width input fields */
 width: 90%;
 padding: 15px;
 margin: 5px 0 22px 0;
 border: none;
 background: #9ca591;
}

.form-container input[type=text]:focus {
 background-color: rgb(221, 222, 223);
 outline: none;
}


.form-container .btn {                          /*set a style for the submit/login button */
 background-color: #306e32;
 color: white;
 padding: 16px 20px;
 border: none;
 cursor: pointer;
 width: 100%;
 margin-bottom:10px;
 opacity: 0.8;
}


.form-container .cancel {                               /* add a red background color to the cancel button*/
 background-color: rgb(37, 35, 35);
}


.form-container .btn:hover, .open-button:hover {            /*add some hover effects to buttons */
 opacity: 1;
}


.column-1 {
  float: left;
  width: 50%;
  text-align: center;
  background: rgb(65, 78, 65);
  bottom: 0;
}

#githubPng, #space  {
  max-width: 95%;
  height: auto;
  padding: 10px;
  border-radius: 100px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
}

#githubPng {
position: relative;
animation: mymove 5s infinite;
}

@keyframes mymove {
0%   {top: 0px; left: -100px;}
25%  {top: 0px; left: 100px;}
50%  {top: 300px; left: 100px;}
75%  {top: 300px; left: -100px;}
100% {top: 0px; left: -100px;}
}

img:hover {
  transition: transform 3s;
  transform: scale(1.05);
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.2,1.2);
  }
  100% {
      transform: scale(1,1);
  }
}

#backgroundvid {
animation: zoominoutsinglefeatured 15s forwards;
}

.column-2 {
  float: left;
  width: 50%;
  text-align: center;
  background: rgb(62, 68, 62);
  bottom: 0;
  padding-bottom: 200px;

}


.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=text] {
    width: 50%;
    margin: 10px;
    border: 4px solid gray;
    border-radius: 4px;
}

input[type=submit] {
  margin-bottom: 135px;
}



footer {
  background-color: rgb(83, 105, 105);
  width: 100%;
  bottom: 0;
  overflow: hidden;
  padding: 16px;
}